<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/htmlTemplate :: head (title=#{view.demoIcons.title})">
        <meta charset="UTF-8" />
        <title>Demo static HTML header</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../static/css/bulma.min.css">
        <link rel="stylesheet" href="../../static/css/all.min.css">
        <link rel="stylesheet" href="../../static/css/global.css">
    </head>
    <body>

        <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation" th:replace="fragments/htmlTemplate :: navigation">
            <div class="container is-fluid">
                <div class="navbar-brand">
                    <a class="navbar-item" href="#" th:href="@{/}">
                        <img src="../../static/img/logo.svg" alt="Static logo" th:src="@{/img/logo.svg}" th:alt="#{global.description}" width="35" height="28">
                        <span th:text="#{global.title}" class="has-text-weight-bold">Weather central</span>
                    </a>
                    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu">
                    <a class="navbar-item">Static link</a>
                    <a class="navbar-item">Static link</a>
                    <a class="navbar-item">Static link</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item" sec:authentication="name">username</div>
                    <div class="navbar-item">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="Search location" th:placeholder="#{global.navbar.search.placeholder}">
                            </div>
                            <p class="control">
                                <button class="button is-info"><i class="fas fa-search-location"></i></button>
                            </p>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <div class="field">
                            <div class="control">
                                <button class="button is-primary"><i class="fas fa-sign-in-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <main class="section">
            <div class="container is-fluid is-spaced">
                <h1 class="title is-3" th:text="#{view.demoIcons.title}">Demo Icons page</h1>
            </div>
            <div class="container is-fluid is-spaced">
                <div>
                    <h2 class="title is-4" th:text="#{view.demoIcons.weather.title}">Weather</h2>
                    <div th:if="${demoWeatherIcons != null}">
                        <img th:each="icon : ${demoWeatherIcons}"
                             th:if="${icon != T(be.skylark.weather.darkskyclient.entities.DsIcon).UNKNOWN}"
                             th:alt="${icon.value}" th:src="@{${'/img/weather-icons/' + icon.value + '.svg'}}"
                             src="../../static/img/weather-icons/clear-day.svg" alt="clear-day"
                             class="image is-inline-block is-large"/>
                    </div>
                    <div th:unless="${demoWeatherIcons != null}"><p th:text="#{view.demoIcons.weather.noIcons}">No weather icon available !</p></div>
                </div>
            </div>
            <div class="container is-fluid is-spaced">
                <div>
                    <h2 class="title is-4" th:text="#{view.demoIcons.fontAwesome.title}">Font Awesome</h2>
                    <div>
                        <span><i class="fas fa-bolt"></i></span>
                        <span><i class="fas fa-cloud"></i></span>
                        <span><i class="fas fa-cloud-meatball"></i></span>
                        <span><i class="fas fa-cloud-moon"></i></span>
                        <span><i class="fas fa-cloud-moon-rain"></i></span>
                        <span><i class="fas fa-cloud-rain"></i></span>
                        <span><i class="fas fa-cloud-showers-heavy"></i></span>
                        <span><i class="fas fa-cloud-sun"></i></span>
                        <span><i class="fas fa-cloud-sun-rain"></i></span>
                        <span><i class="fas fa-meteor"></i></span>
                        <span><i class="far fa-moon"></i></span>
                        <span><i class="fas fa-moon"></i></span>
                        <span><i class="fas fa-poo-storm"></i></span>
                        <span><i class="fas fa-rainbow"></i></span>
                        <span><i class="fas fa-smog"></i></span>
                        <span><i class="far fa-snowflake"></i></span>
                        <span><i class="fas fa-snowflake"></i></i></span>
                        <span><i class="far fa-sun"></i></i></span>
                        <span><i class="fas fa-sun"></i></span>
                        <span><i class="fas fa-temperature-high"></i></span>
                        <span><i class="fas fa-temperature-low"></i></span>
                        <span><i class="fas fa-umbrella"></i></span>
                        <span><i class="fas fa-water"></i></span>
                        <span><i class="fas fa-wind"></i></i></span>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="fragments/htmlTemplate :: footer" class="footer">
            &copy; 2019 - Static footer value
        </footer>
    </body>
</html>
